@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Poppins:wght@400;500;600&family=Rajdhani:wght@500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(135deg, #05001a, #18004d, #2b0066, #05001a);
}

h1 {
  color: #5ee7ff;
  margin-bottom: 40px;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
}

p {
  color: #e8e9ff;
  text-align: center;
  font-size: 25px;
}
h3 {
  color: lightcyan;
}

input {
  width: 200px;
  padding: 12px 15px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;

  color: #1e0404;
  background: #5a68b7;
  border: cyan;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

input::placeholder {
  color: #05001a;
}
button {
  width: 130px;
  padding: 12px 20px;

  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;

  color: #5ee7ff;
  background: #10194a;

  border: 2px solid #5ee7ff;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.3s;
}
