body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#container {
  width: 450px;
  height: 600px;
  padding: 40px;
  background-color: #f8f0ff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(80, 60, 120, 0.25);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #6a4c93;
}

h3 {
  margin-top: 100px;
  color: black;
  font-size: 30px;
}

input {
  background-color: #f6f6f8;
  border: 1px solid #c8b6e2;
  height: 60px;
  width: 390px;
  font-size: 30px;
}

button {
  margin-top: 80px;
  height: 80px;
  width: 220px;
  font-size: 30px;
  background-color: #9b72cf;
  color: #ffffff;
  border-radius: 20px;
}
